@charset "UTF-8";

body {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
}

a {
  text-decoration: none;
  color:black;
}

li {
  list-style: none;
}

header {
  box-sizing: border-box;
  width:100%;
  height:5%;
  z-index: 100;
  background-color: rgb(248, 244, 244);
  position: fixed;
  top: 0;
}

.header_inner {
  width:95%;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 15%;
  height: 100%;
}

.header_logo img {
  width: 100%;
  height:100%;
  object-fit: cover;
  vertical-align: middle;
}

.header_ttl {
  font-family:"Dela Gothic One",cursive;
  font-size: 2rem;
  color: rgb(33, 44, 146)
}

.header_right {
  width: 40%;
}

header .drawer {
  visibility: hidden;
}

.header_nav ul{
  display: flex;
  justify-content: end;
}

.header_nav ul li {
  font-family: "Dela Gothic One",cursive;
  height: 100%;
  font-size: 1.3rem;
  padding: 3%;
}

.header_nav ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.header_nav ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 60%;
  height: 3px;
  opacity: 0;
  background-color: #f39c12;
  transform: translate(-50%, 0);
  transition: all .2s ease-in-out
}
  
.header_nav ul li a:hover::after 
{
  width: 100%;
  opacity: 1
}


main .top {
  margin-top: 10%;
}

.top_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_img {
  width: 50%;
  padding: 3%;
}

.top_img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.top_ttl {
  width: 50%;
  text-align: center;
}

.top_ttl_inner {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  border-bottom: 20px solid rgba(253,213,71,50%);
}

.top_ttl_sub {
  font-family: 'Noto Sans JP',sans-serif;
  font-size: 1.2rem;
  color: rgb(77,178,164)
}

.top_application_name {
  font-family: "Dela Gothic One", cursive;
  font-size: 4rem;
  font-weight: 100;
  color: rgb(33,44,146);
}

/*　↓Aboutの箇所　*/
.about {
  background-color: rgb(217,217,217);
}

/* 各セクションの見出し文字開始位置 */
.section_ttl {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 2%;
}

.section_ttl_inner {
  width: 80%;
  margin: 0 auto;
}

.section_ttl_inner>h1 {
  font-size: 2rem;
  line-height: 4rem;
}

.section_ttl_inner>h1>span {
  color: rgb(255, 3, 3)
}
/* 各セクションの見出し文字終 */

/* About上部 */
.intro_items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.intro_items_left {
  width:40%;
  height: 40vh;
  background-color: rgb(253,213,71);
  border: 1px solid #000;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  top:20%;
  left:12%;
}

.intro_items_left_inner {
  width:80%;
  text-align:left;
  padding: 5%;
}

.intro_items_left_ttl {
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.intro_items_left_ttl>span {
  background: linear-gradient(transparent 50%, rgba(250, 255, 3, 50%) 20%);
}

.intro_items_right{
  width: 40%;
  height: 40vh;
  position: relative;
}

.intro_items_right_img {
  width: 100%;
  height:100%;
  position: absolute;
  top: 60%;
  left: 48%;
}

.intro_items_right_img img{
  width:100%;
  height:100%;
  object-fit: fill;
  border-radius: 10%;
}
/* About下部 */

.under_intro {
  width: 98%;
  background-color: rgb(77, 178, 164);
  border: 1px solid #000;
  border-radius: 10%;
  margin: 0 auto;
}

.under_intro_inner {
  width: 98%;
  padding-top: 20%;
  border-radius: 30%;
  margin: 0 auto;
}

.under_intro_txt {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 5% auto;
}

.under_intro_table {
  width: 80%;
  background-color: white;
  border: 1px solid #000;
  border-radius: 10%;
  padding:2%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.table_inner {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.table_left {
  width: 45%;
  border: 1px solid #000;
}

.table_item {
  border-bottom: 1px solid #000;
  padding: 2%;
  text-align: center;
  align-items: center;
}

.table_item {
  border-bottom: none;
}

.table_item>span{
  font-family: Dela Gothic One;
  font-size: 2rem;
  line-height: 4rem;
}

.table_left .color {
  background-color: rgb(217,217,217);
}

.table_right {
  width: 45%;
  border: 1px solid #000;
}

.table_right .color {
  background-color: rgb(255,242,201);
}

/* Feature箇所↓ */

.feature_wrapper {
  width: 100%;
}

.feature_top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
}

.feature_inner_contents {
  width:25%;
  position: relative;
  display: flex;
  margin-top: 10%;
}

.feature_number {
  width: 23%;
  height:16%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  line-height: 2rem;
  background-color: rgb(77,178,164);
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top:-16%;
  left:50%;
  transform:translate(-50%);
}

.number {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.feature_block {
  width: 100%;
  padding: 1%;
  border: 1px solid #000;
}

.feature_img {
  width: 90%;
  height:auto;
  margin: 0 auto;
  border:  solid #000;
  border-radius: 50%;
}

.feature_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block_txt {
  width: 90%;
  margin: 3% auto;
  border: 1px solid #000;
  background-color: white;
}

p.block_txt {
  font-weight: bold;
  border: none;
}

.feature_under_number {
  width:5%;
  padding:2%;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(77, 178, 164);
  position: relative;
  z-index: 10;
  top: 3rem;
  left: 5%;
  color: #fff;
  line-height: 2rem;
}

.feature_under {
  width:100%;
}

.feature_under_wrapper {
  width: 95%;
  height:100%;
  border: 1px solid #000;
  margin: 0 auto;
}

.feature_under_inner {
  width: 100%;
  height: 100%;
  position: relative;
}


.feature_under_content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.feature_under_left {
  width: 50%;
  height:100%;
  border: 1px solid #000;
}

.feature_under_left_img {
  width:100%;
  height:100%;
}

.feature_under_left_img img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.feature_under_right {
  width: 50%;
  height:100%;
}

.feature_under_right_inner {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  padding: 1%;
}

.feature_under_right_top{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.right_ttl span{
  color: rgb(77,178,164);
  background: linear-gradient(transparent 50%, rgba(250, 255, 3, 50%) 50%);
  font-size: 1.5rem;
}

.feature_under_right p {
  line-height: 2rem;
}

.feature_under_right_txt {
  width: 90%;
  margin: 0% auto;
  border: 1px solid #000;
}

.system {
  background-color: rgb(245, 245, 245);
}

.system_wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}

.system_inner {
  width:95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.system_block {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.system_img {
  width:70%;
  height:auto;
}

.system_img img {
  width: 100%;
  height: 100%;
}

.system_content {
  width: 70%;
  background-color: rgb(217,217,217);
}

.system_content h1{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.system_content p {
  line-height: 1.5rem;
}

.voice_wrapper {
  width: 100%;
}

.voice_content_inner {
  width:90%;
  border: 1px solid #000;
  margin: 5% auto;
  padding: 2%;
  display: flex;
  justify-content: space-around;
}

.voice_content_block {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: rgb(217, 217, 217);
  border: 1px solid #000;
  border-radius: 10%;
}

.voice_content_img {
  width: 80%;
  height: 50%;
  margin: 5% auto;
}

.voice_content_img img {
  width:100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
}

p.name {
  font-size: 1.3rem;
}

p.txt {
  margin: 5% ;
}

.invitation {
  background-color: #e5c046;
}

.invitation_under_wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}

.invitation_under_inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 3%;
  background-color: #fff;
  border-radius: 5%;
}

.invitation_under_inner_top {
  width: 80%;
  text-align: center;
  border: 1px solid #000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
}

.invitation_under_inner_top .txt {
  text-align: center;
}

.invitation_under_inner_top_ttl{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.invitation_under_inner_top_ttl::before,
.invitation_under_inner_top_ttl::after {
  content: '';
  width: 70px;
  height: 3px;
  background-color: #e5c046;
}

.invitation_under_inner_top_ttl::before {
  margin-right: 30px;
}

.invitation_under_inner_top_ttl::after {
  margin-left: 30px;
}

.invitation_under_inner_under_wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.invitation_under_inner_under_img {
  margin: 0 auto;
  width: 35%;
  height:auto;
}

.invitation_under_inner_under_img img {
  width: 100%;
  height:auto;
}

.footer_wrapper {
  width: 100%;
}

.footer_inner {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.footer_left {
  width: 50%;
  padding: 2%;
}

.footer_left_top {
  width: 100%;
}

.footer_left_top_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_left_top_company_name {
font-family:"Dela Gothic One",
cursive;
font-size:1.5rem;
line-height: 2.5rem;
color: rgb(33, 44, 146)
}

.footer_left_middle p {
  color: #fff;
  font-family:"Dela Gothic One",
  cursive;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.footer_left_under {
  width: 70%;
  margin: 0 auto;
}

.footer_left_under_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_left_under_left {
  width: 20%;
  padding: 1%;
}

.footer_left_under_left img {
  width: 100%;
}

.footer_left_under_right {
  width: 20%;
  padding: 1%;
}

.footer_left_under_right img {
  width: 100%;
}

.footer_right {
  width: 50%;
  box-sizing: border-box;
}

.footer_right_inner {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.footer_right_left_wrapper,.footer_right_right_wrapper {
  line-height: 2rem;
  margin: 5%;
}


.footer_right a{
  color: #fff;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.footer_right a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 50%;
  height: 3px;
  opacity: 0;
  background-color: #f39c12;
  transform: translate(-50%, 0);
  transition: all .2s ease-in-out
}

.footer_right a:hover::after {
  width: 100%;
  opacity: 1
}


@media screen and (max-width: 768px) {
  header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

  header .drawer::before,
  header .drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: #aaaaaa;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

  header .drawer::before {
  top: 6px;
}

  header .drawer::after {
  top: 15px;
}
  header .header_nav {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
  }

  header .header_nav ul {
  display: block;
  }

  header .header_nav ul li {
  margin: 5% auto;
  }

  header .header_nav ul li a {
  line-height: 3;
  font-size: 1.75rem;
  }

  header .header_nav ul li.contact {
  width: 30%;
  }
  body.nav-open header .drawer {
  border-top: 0;
  }

  body.nav-open header .drawer::before {
  top: 9px;
  transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
  top: 9px;
  transform: rotate(45deg);
  }

  body {
  font-size: 13px;
  }

  .header_ttl{
  font-size: 1rem;
  }

  .top_ttl_sub {
  font-size: 1rem;
  }

  .top_application_name {
  font-size: 2.5rem;
  }

  .intro_items_left {
  height: 30vh;
  top: 20%;
  }

  .intro_items_right {
  height:30vh;
  }
  
  .feature_under_right p {
  line-height: 1.1rem;
  }

  .feature_number {
  line-height: 1rem;
  }

  .number {
  font-size: 0.5rem;
  }

  .intro_items_left_ttl {
    font-size: 1rem;
  }
  
  .system_content h1 {
    font-size: 1rem;
  }

  p.name {
    font-size: 0.8rem;
  }

  p.txt {
    font-size: 0.5rem;
  }

  .invitation_under_inner_top_ttl {
  font-size: 1.5rem;}

  .invitation_under_inner_top_txt {
    font-size: 1rem;
  }

  .footer_left_top_logo {
    width: 10%;
  }

  .footer_left_top_logo img {
    width: 100%;
  }

  .footer_left_middle p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .footer_left_under_left {
    width: 15%;
  }

  .footer_left_under_right {
    width: 15%;
  }

  .footer_right_left_wrapper,
  .footer_right_right_wrapper{
    line-height: 1rem;
  }
}

@media screen and (max-width: 480px){
  
  body {
    font-size: 13px;
  }

  .header_ttl {
    font-size: 0.8rem;
  }

  .top_inner {
    display: flex;
    flex-direction: column;
  }

  .top_ttl {
    width: 100%;
  }

  .top_ttl_sub {
    font-size: 0.8rem;
  }

  .top_application_name {
    font-size: 2rem;
  }

  .intro_items {
    position: unset;
    display: flex;
    flex-direction: column;
  }

  .intro_items_left {
    position:unset;
    width: 80%;
    margin: 0 auto;
  }

  .intro_items_right {
    position: unset;
    position:relative;
    width: 40vh;
    height: 40vw;
  }

  .intro_items_right_img {
    width:50%;
    height:100%;
    position: absolute;
    top:-20%;
    left: 25%;
  }

  .intro_items_right_img img{
    width: 100%;
    height:100%;
    border-radius: 25%;
    object-fit: contain;
  }

  .section_ttl_inner {
    width:100%;
    font-size: 0.5rem;
  }
  
  .table_item>span  {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .under_intro_txt {
    font-size: 0.8rem;
  }

  .under_intro_table {
    width:90%;
  }

  .table_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3%;
  }

  .table_left {
    width: 80%;
    font-size: 0.6rem;
    line-height: 1.8rem;
    margin: 1%;
  }

  .table_item {
    margin: 0 auto;
  }

  .table_item>span {
    font-size: 1.2rem;
  }

  .table_right {
    width: 80%;
    font-size: 0.6rem;
    line-height: 1.8rem;
    margin: 2%;
  }

  .table_right .table_item{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .table_right_top {
    width:15%;
  }

  .table_right_top img {
    width: 100%;
  }

  .feature_top {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
    
  .feature_inner_contents {
    width:95%;
  }

  .feature_number {
    width:13%;
    height:10%;
    top: -5%;
    left: 50%;
  }

  .feature_block {
    margin-top: 5%;
  }

  .feature_under_content {
  display: flex;
  flex-direction: column; 
  }

  .feature_under_number {
    margin: 0 auto;
    width:58px;
    height:50px;
    line-height: 1rem;
    font-size: 0.7rem;
    left: 0%;
    position: relative;
    top:35px
  }

  .feature_under_left {
    width: 100%;
  }

  .feature_under_right {
    width: 100%;
  }

  .feature_under_right_top {
    margin:5% auto;
  }

  .feature_under_right_txt {
    margin: 3% auto;
  }

  .feature_under_right_txt_inner {
    padding:6%;
    font-size: 0.6rem;
  }

  .feature_under_right_txt_inner h1{
    text-align: center;
    line-height: 2rem;
  }

  .right_ttl span {
    font-size: 1rem;
  }

  .system_inner {
    display: flex;
    flex-direction: column;
  }
  
  .system_block {
    width: 100%;
  }

  .voice_content_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .voice_content_block {
    width: 95%;
    margin: 2%;
  }

  .invitation_under_inner_top {
    border: none;
  }

  .invitation_under_inner_top_ttl {
    font-size: 1rem;
  }

  .invitation_under_inner_top_ttl::before{
    width: 30px;
  }

  .invitation_under_inner_top_ttl::after {
    width: 30px;
  }

    .invitation_under_inner_top_txt {
    font-size: 0.85rem;
    line-height: 2rem;
  }

  .footer_left_top_company_name {
    font-size: 0.8rem;
  }

  .footer_left_middle p{
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  .footer_right_inner {
    display: flex;
    flex-direction: column;
    padding-left:15%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .footer_right_left_wrapper {
    margin: 0;
  }

  .footer_right_right_wrapper {
    margin: 0;
  }

  @media screen and (max-width: 375px){
    header {
      width: 95%;
    }
  }
}

  @media screen and (max-width: 320px){
    header {
      width:87%;
      height:3%;
    }
    
    header .drawer{
      top:8px;
    }
  }